<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
</head>
<body>
    {{!-- {{>navbar}} --}}
    <div class="container-fluid main_head">
        <div class="row">
            <div class="col-md-4 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12  main_head_left" data-aos="zoom-in" >
                        <figure class="errimg">
                            <img src="css/img/err4.jpg" alt="">
                        </figure>
                        <div class="err">
                        <p data-aos="fade-up"><b>Welcome to weather app</b></p>
                        <h1 class="pb-3" data-aos="fade-right">Oops <span class="txt">Page Not Found </span> </h1>
                     <a href="/" data-aos="fade-down"><button class="btn btn-light btn-outline-dark">Go back</button></a></div>

                     </div>
                    </div>
                    
                </div>
                

            </div>
        </div>
    </div>

    {{>footer}}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>